<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Placename</th>
      <th>Location</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each category.placenames}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{location}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          <a href="/category/{{../category._id}}/deleteplacename/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>