<table class="table is-fullwidth">
  <thead class="title is-4">
    <th>Stars</th>    
    <th>User</th>
    <th>Category</th>
  </thead>
  <tbody class="title is-4">
    {{#each reviews}}
      <tr>
        <td>{{stars}}</td>        
        <td> {{donor.firstName}} {{donor.lastName}} </td>
        <td> {{category.title}} </td>
        <td> <img src={{category.img}}> </td> 
      </tr>
    {{/each}}
  </tbody>
</table>